langchain
langchain-groq
langchain-ollama
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
pymupdf
python-dotenv
flask
flask-cors
streamlit
requests
sentence-transformers
rank_bm25
rapidfuzz
